* {
  margin: 0;
  padding: 0;
}
html,
body,
#app {
  height: 100%;
  width: 100%;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 0;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex1 {
  flex: 0 1 400px;
}
.h10vh {
  height: 15%;
}
.width100 {
  width: 100%;
}
body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
